.container { 
    max-width:max-content;
    margin: 20px 0 0 200px;
    padding-top: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    max-height: 400px;
  }
  
  .product-details {
    display: flex;
  }
  .detailsinfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-left: 0;
  }
  .product-image{
    max-width: 30%;
    min-width: 30%;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .product-image img {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-info {
    max-width: 60%;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    color: #555;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    color: #008000;
    font-weight: bold;
  }